<!--
  Generated template for the AtractivosTuristicosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='danger'>
    <ion-title center>Atractivos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #DDDEDF;">
    <ion-card *ngFor="let atractivo of atractivos" style="background-color: rgb(241, 244, 247);">
        <img src="{{atractivo.at_img_atractivo}}" height="175"/>
        <ion-card-content>
          <ion-card-title style="font-size: 1.0em;" color='danger'>
            <strong>{{atractivo.at_nombre}}</strong>
            </ion-card-title>
          <p style="text-align : justify;">
            {{atractivo.at_descripcion_corta}}
          </p>
          <div *ngIf="ocultar">
              <p>
                  {{atractivo.at_contacto}}
                  {{atractivo.at_descripcion_larga}}
                  {{atractivo.at_longitud}}          
                  {{atractivo.at_latitud}}
                  {{atractivo.at_email}} 
                  {{atractivo.at_direccion}}
                  {{atractivo.at_comollegar}}
                  {{atractivo.at_red_social}}
                  {{atractivo.at_video_atractivo}}             
              </p>
            </div>
        </ion-card-content>
        <div style="padding-left: 5%;padding-bottom: 10px">
            <button ion-button round small padding color="danger" (click)="atractivoDetalle(atractivo.at_id, atractivo.at_nombre, atractivo.at_descripcion_corta, atractivo.at_img_atractivo, atractivo.at_contacto, atractivo.at_descripcion_larga, atractivo.at_email, atractivo.at_direccion,  atractivo.at_longitud, atractivo.at_latitud, atractivo.at_comollegar, atractivo.at_red_social, atractivo.at_video_atractivo)">
            Ver lugar.</button>
        </div>
      </ion-card>

      
      
</ion-content>
