<ion-header no-border>

  <ion-navbar >
      <!-- <ion-buttons>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons> -->
        <ion-title >ATRACTIVOS TURÍSTICOS</ion-title>
      </ion-navbar>

</ion-header>


<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <ion-card *ngFor="let atractivo of atractivos" (click)="AbrirAtractivos(atractivo.at_id)" style="background-color: rgb(254, 254, 255);">
        <img src="{{atractivo.at_img_atractivo}}" style="height: 35vh;"/>
        <ion-card-content>
          <ion-card-title style="font-size: 1.0em;">
            <strong>{{atractivo.at_nombre}}</strong>
            </ion-card-title>
            <rating [(ngModel)]="atractivo.at_rating" 
                        readOnly="true"
                        max="5"
                        emptyStarIconName="star-outline" 
                        halfStarIconName="star-half" 
                        starIconName="star" 
                        nullable="false"> 
                </rating>
          <p style="text-align : justify;">
            {{atractivo.at_descripcion_corta}}
          </p>
          <div *ngIf="ocultar">
              <p>
                  {{atractivo.at_contacto}}
                  {{atractivo.at_descripcion_larga}}
                  {{atractivo.at_longitud}}          
                  {{atractivo.at_latitud}}
                  {{atractivo.at_email}} 
                  {{atractivo.at_direccion}}
                  {{atractivo.at_comollegar}}
                  {{atractivo.at_red_social}}
                  {{atractivo.at_video_atractivo}}             
              </p>
            </div>
        </ion-card-content>
        <!-- <div style="padding-left: 5%;padding-bottom: 10px">
            <button ion-button round small padding color="danger" (click)="AbrirAtractivos(atractivo.at_id)">
            Ver lugar.</button>
        </div> -->
      </ion-card>

      
      
</ion-content>
