<ion-header no-border >
    <ion-navbar color='danger' transparent >
        <ion-buttons style="display: inline-block; color: #EC327D">
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title *ngIf="!isSerarchbarOpened" style="display: inline-block; margin-top: 10px;"></ion-title>
      <!-- <ion-searchbar *ngIf="isSerarchbarOpened" autofocus  (search)="onSearch($event)" showCancelButton="true" (ionCancel)="isSerarchbarOpened=false"></ion-searchbar>
      <ion-buttons end>
          <button ion-button icon-only color="royal" *ngIf="!isSerarchbarOpened" (click)="isSerarchbarOpened=true">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons> -->
        <ion-buttons end>
          <button ion-button icon-only color="royal" (click)="buscarServicios()">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>

    </ion-navbar>
  </ion-header>
  
  <ion-content  style="margin-top: -17%; height: 109.5vh; background-color: #f7f7f7">
      <ion-slides autoplay="3000" loop="true" speed="1000" style="height: 40%;" effect="fade">
        <ion-slide>
          <img src="https://res.cloudinary.com/ibarra-travel/image/upload/v1538068001/tren-salinas.png" style="filter : saturate(180%) brightness(75%); width: 100%; height: 300px; position: relative;
          display: inline-block; 
          text-align: center; "/>
          <h1 style="position: absolute;top: 75%;left: 10px; color:white">Ibarra - Imbabura</h1>
          <p style="position: absolute;top: 82%;left: 10px;"><b style="color:white">Tren de la libertad</b></p>
        </ion-slide>
        <ion-slide>  
          <img src="https://ibarraesturismo.files.wordpress.com/2018/01/tren.jpg?w=685" style="filter : saturate(180%) brightness(75%); width: 100%; height: 300px; position: relative;
          display: inline-block;
          text-align: center;"/>
          <h1 style="position: absolute;top: 75%;left: 10px; color:white">Ibarra - Imbabura</h1>
          <p style="position: absolute;top: 82%;left: 10px;"><b style="color:white">Ruta del tren</b></p>
        </ion-slide>
        <ion-slide>
          <img src="http://2.bp.blogspot.com/_xGDzy7pXkIg/TMzXOh4jYzI/AAAAAAAAAAY/QPBgdU8l4Gk/s1600/20.jpg" style="filter : saturate(180%) brightness(75%); width: 100%; height: 300px; position: relative;
          display: inline-block; 
          text-align: center; "/>
          <h1 style="position: absolute;top: 75%;left: 10px; color:white">Ibarra - Imbabura</h1>
          <p style="position: absolute;top: 82%;left: 10px;"><b style="color:white">Ibarra es gatronomía</b></p>
        </ion-slide>  
        <ion-slide>
          <img src="https://ibarraesturismo.files.wordpress.com/2018/01/esq-elcoco.gif?w=685" style="filter : saturate(180%) brightness(75%); width: 100%; height: 300px; position: relative;
          display: inline-block;
          text-align: center;"/>
          <h1 style="position: absolute;top: 75%;left: 10px; color:white">Ibarra - Imbabura</h1>
          <p style="position: absolute;top: 82%;left: 10px"><b style="color:white">Esquina del coco</b></p>
          </ion-slide>  
      </ion-slides> 
    <div>
      <ion-row padding>
        <ion-col >
          <button ion-fab mini (click)="abrirRestaurantesPage()" color='primary' style="margin-left: 15px;"><ion-icon name="restaurant"></ion-icon> </button>
          <p style="text-align: center">Restaurantes</p>
        </ion-col>
        <ion-col>
          <button ion-fab mini color='danger' style="margin-left: 15px;"><ion-icon name="wine"></ion-icon> </button>
          <p style="text-align: center">Diversión</p>          
        </ion-col>
        <ion-col>
          <button ion-fab mini color='yellow' style="margin-left: 15px;"><ion-icon name="pricetag" style="color: white"></ion-icon> </button>
          <p style="text-align: center">Compras</p>            
          </ion-col>
          <ion-col>
          <button ion-fab mini color='secondary' (click)="abrirListaServicios()" style="margin-left: 15px;"><ion-icon name="more"></ion-icon> </button>
          <p style="text-align: center">Más</p>            
          </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <h1 style="color: #0AC7B4; text-align: left; margin-left: 12px"><ion-icon name="camera"></ion-icon> Qué visitar en Ibarra</h1>
        </ion-col>
        <ion-col>
            <h1 (click)="abrirCategorias()" >{{numAtractivos}} lugares más ></h1>
        </ion-col>
      </ion-row>     
      <ion-scroll scrollX="true" style="width: 100%; height: 220px;">
          <div class="inner" style="padding-left: 5px">
            <ion-card *ngFor="let atractivo of  atractivos" (click)="AbrirAtractivos(atractivo.at_id)" style="width: 170px;border-radius: 4px ;">
              <img src="{{atractivo.at_img_atractivo}}" height="120" style=" filter : brightness( 125% )"/>
              <ion-card-content style="margin-left: -20px; margin-top: -12px; height: 83px;">
                    <ion-item style="padding-left: 10px;">
                        <p style="color: grey; font-size: 11px;">{{atractivo.ta_id}}</p>                        
                        <h6 style="color: #000000"><strong>{{atractivo.at_nombre}}</strong></h6>
                        <rating [(ngModel)]="atractivo.at_rating" 
                          readOnly="true"
                          max="5"
                          emptyStarIconName="star-outline" 
                          halfStarIconName="star-half" 
                          starIconName="star" 
                          nullable="true"> 
                      </rating>
                      </ion-item>
                </ion-card-content>
            </ion-card>        
          </div>
        </ion-scroll>  

        <ion-row>
          <ion-col>
            <h1 style="color: #33B5E5; text-align: left; margin-left: 12px"><ion-icon name="podium"></ion-icon> HOTELES</h1>
          </ion-col>
          <ion-col>
              <h1 (click)="abrirCategorias()" >{{numHoteles}} hoteles más ></h1>
          </ion-col>
        </ion-row>
        <ion-scroll scrollX="true" style="width: 100%; height: 220px;">
          <div class="inner" style="padding-left: 5px">
            <ion-card *ngFor="let hotel of  hoteles" (click)="AbrirServicio(hotel.st_id, hotel.st_pagina_web, hotel.st_latitud, hotel.st_longitud)" style="width: 170px; border-radius: 4px ;">
              <img src="{{hotel.st_img_servicio}}" height="120" style=" filter : brightness( 125% )"/>
              <ion-card-content style="margin-left: -20px; margin-top: -12px; height: 83px;">
                <ion-item style="padding-left: 10px">
                    <p style="color: grey;  font-size: 11px;" >{{hotel.cat_id}}</p>                      
                    <h6 style="color: #000000"><strong>{{hotel.st_nombre}}</strong></h6>
                    <rating [(ngModel)]="hotel.st_rating" 
                      readOnly="true"
                      max="5"
                      emptyStarIconName="star-outline" 
                      halfStarIconName="star-half" 
                      starIconName="star" 
                      nullable="true"> 
                  </rating>
                </ion-item>
              </ion-card-content>
            </ion-card>        
          </div>
        </ion-scroll>
            
        <ion-row>
          <ion-col>
            <h1 style="color: #33B5E5; text-align: left; margin-left: 12px"><ion-icon name="home"></ion-icon> HOSTALES</h1>
          </ion-col>
          <ion-col>
              <h1 (click)="abrirCategorias()" >{{numHostales}} hostales más ></h1>
          </ion-col>
        </ion-row>
        <ion-scroll scrollX="true" style="width: 100%; height: 220px;">
          <div class="inner" style="padding-left: 5px">
            <ion-card *ngFor="let hostal of  hostales" (click)="AbrirServicio(hostal.st_id, hostal.st_pagina_web, hostal.st_latitud, hostal.st_longitud)" style="width: 170px; border-radius: 4px ;">
              <img src="{{hostal.st_img_servicio}}" height="120" style=" filter : brightness( 125% )"/>
              <ion-card-content style="margin-left: -20px; margin-top: -12px; height: 83px;">
                <ion-item style="padding-left: 10px">
                  <p style="color: grey;  font-size: 11px;">{{hostal.cat_id}}</p>                      
                  <h6 style="color: #000000"><strong>{{hostal.st_nombre}}</strong></h6>
                  <rating [(ngModel)]="hostal.st_rating" 
                      readOnly="true"
                      max="5"
                      emptyStarIconName="star-outline" 
                      halfStarIconName="star-half" 
                      starIconName="star" 
                      nullable="true"> 
                  </rating>
                </ion-item>
              </ion-card-content>
            </ion-card>        
          </div>
        </ion-scroll>
        <ion-row>
          <ion-col>
            <h1 style="color: #FF6565; text-align: left; margin-left: 12px"><ion-icon name="restaurant"></ion-icon> RESTAURANTES</h1>
          </ion-col>
          <ion-col>
              <h1 (click)="abrirCategorias()" >{{numRestaurantes}} restaurantes más ></h1>
          </ion-col>
        </ion-row>
        <ion-scroll scrollX="true" style="width: 100%; height: 220px;">
          <div class="inner" style="padding-left: 5px">
            <ion-card *ngFor="let restaurant of  restaurantes" (click)="AbrirServicio(restaurant.st_id, restaurant.st_pagina_web, restaurant.st_latitud, restaurant.st_longitud)" style="width: 170px; border-radius: 4px ;">
              <img src="{{restaurant.st_img_servicio}}" height="120" style=" filter : brightness( 125% )"/>
              <ion-card-content style="margin-left: -20px; margin-top: -12px; height: 83px;">
                <ion-item style="padding-left: 10px">
                  <p style="color: grey;  font-size: 11px;">{{restaurant.cat_id}}</p>                      
                  <h6 style="color: #000000"><strong>{{restaurant.st_nombre}}</strong></h6>
                  <rating [(ngModel)]="restaurant.st_rating" 
                      readOnly="true"
                      max="5"
                      emptyStarIconName="star-outline" 
                      halfStarIconName="star-half" 
                      starIconName="star" 
                      nullable="true"> 
                  </rating>
                </ion-item>
              </ion-card-content>
            </ion-card>        
          </div>
        </ion-scroll>

    </div>  
  </ion-content>
  
  
  
  
          