<ion-menu [content]="contenido">
    <ion-header>
        <ion-toolbar style="height: 150px;">
            <img src="assets/img/Logo_-ibarra_escudo.png" alt="">
        </ion-toolbar>
    </ion-header>
    <ion-content class="menu-content" style="background-color: rgb(237, 237, 238);">
        <ion-list >
            <button  ion-item (click)="openPage(home)" style="background-color: rgb(237, 237, 238);"><strong style="color:#C40319;"><ion-icon name="home" padding></ion-icon>Inicio</strong></button>
            <button  ion-item (click)="openPage(reasons)" style="background-color: rgb(237, 237, 238);"><strong style="color:#C40319;"><ion-icon name="locate" padding></ion-icon>Mapa de Ibarra</strong></button>
            <button  ion-item (click)="openPage(emprendimientos)" style="background-color: rgb(237, 237, 238);"><strong style="color:#C40319;"><ion-icon name="trending-up" padding></ion-icon>Emprendimientos</strong></button>
            <button  ion-item (click)="openPage(about)" style="background-color: rgb(237, 237, 238);"><strong style="color:#C40319;"><ion-icon name="bookmark" padding></ion-icon>Acerca de Ibarra</strong></button>
            <button  ion-item (click)="eventos()" style="background-color: rgb(237, 237, 238);"><strong style="color:#C40319;"><ion-icon name="list" padding></ion-icon>Eventos</strong></button>
            <button *ngIf="usuarioEstaConectado" ion-item (click)="openPage(perfil)" style="background-color: rgb(237, 237, 238);"><strong style="color:#C40319;"><ion-icon name="settings" padding></ion-icon>Perfil</strong> </button>
            <button  ion-item (click)="openPage(login)" style="background-color: rgb(237, 237, 238);"><strong style="color:#C40319;"><ion-icon name="settings" padding></ion-icon>Iniciar Sesión</strong> </button>
            <button *ngIf="usuarioEstaConectado" ion-item (click)="terminarSesion()" style="background-color: rgb(237, 237, 238);"><strong style="color:#C40319;"><ion-icon name="settings" padding></ion-icon>Terminar Sesión</strong> </button>

        </ion-list>
    </ion-content>
</ion-menu>



<ion-nav [root]="rootPage" #contenido></ion-nav>

