<ion-header no-border>
  <ion-navbar color='danger' transparent>
      <ion-buttons style="display: inline-block;">
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title *ngIf="idioma == 'es'" style="display: inline-block; margin-top: 10px">ATRACTIVOS TURISTICOS</ion-title>
    <ion-title *ngIf="idioma == 'en'" style="display: inline-block; margin-top: 10px">TOURIST ATTRACTIONS</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="margin-top: -17%; height: 109.5vh;">
  <ion-card *ngFor="let categoria of categorias" (click)="getAtractivoporCategoria(categoria.atr_id_tipo)" style="margin-left:0%; margin-top: -1%; margin-bottom: 0%; width: 100%">
    <img [src]="'http://sigm.ibarra.gob.ec/sigm8/_lib/file/imgportalturistico/atractivos/' + categoria.atr_img_tipo"  style="border-radius: 1px ; filter : brightness( 80% ); height: 35vh;"/>
    <div class="card-title">
        <strong *ngIf="idioma == 'es'">
          {{categoria.atr_nombre_tipo}}
        </strong>
        <strong *ngIf="idioma == 'en'">
          {{categoria.atr_nombre_tipo_ingles}}
        </strong>
      </div>
    <div *ngIf="idioma == 'es'" class="card-subtitle"><ion-badge item-center color="danger">Lugares</ion-badge></div>
    <div *ngIf="idioma == 'en'" class="card-subtitle"><ion-badge item-center color="danger">Places</ion-badge></div>
  </ion-card>
</ion-content>


