<ion-header>
  <ion-navbar color='secondary' >
    <ion-title *ngIf="idioma == 'es'"><h5>Descubre nuestras rutas</h5></ion-title>
    <ion-title *ngIf="idioma == 'en'"><h5>Discover routes</h5></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let ruta of rutas | search : terms | sort: {property: column, order: order}"  style="background-color: rgb(254, 254, 255);">
        <img [src]="'http://sigm.ibarra.gob.ec/sigm8/_lib/file/imgportalturistico/rutas/' + ruta.rt_img_ruta" (click)="verIntinerario(ruta.rt_id)" style="height: 35vh;" />
        <ion-card-content>
            <ion-card-title style="font-size: 1.0em;">
                <strong *ngIf="idioma == 'es'" style="margin-right: 12px">{{ruta.rt_nombre_ruta}}</strong>
                <strong *ngIf="idioma == 'en'" style="margin-right: 12px">{{ruta.rt_nombre_ruta_ingles}}</strong>
            </ion-card-title>
            <div *ngIf="idioma == 'es'" [innerHTML]="ruta.rt_descripcion"></div>
            <div *ngIf="idioma == 'en'" [innerHTML]="ruta.rt_descripcion_ingles"></div>
            <hr>
            <button *ngIf="idioma == 'es'" ion-button color='whatsapp' (click)="verIntinerario(ruta.rt_id)" block>Ver intinerario
                <ion-icon name="book" style="margin-left: 10px" (click)='Compartir()'></ion-icon>
            </button>
            <button *ngIf="idioma == 'en'" ion-button color='whatsapp' (click)="verIntinerario(ruta.rt_id)" block>Intinerary
                <ion-icon name="book" style="margin-left: 10px" (click)='Compartir()'></ion-icon>
            </button>
            <!-- <button ion-button color='danger' (click)="Abrirruta(ruta.st_id, ruta.st_nombre, ruta.st_pagina_web, ruta.st_latitud, ruta.st_longitud, ruta.st_img_ruta)">Ver más
                <ion-icon name="map" style="margin-left: 10px"></ion-icon>
            </button> -->

            <div *ngIf="ocultar">
                <p>
                    {{ruta.st_contacto}} {{ruta.st_descripcion_larga}} {{ruta.st_longitud}} {{ruta.st_latitud}} {{ruta.st_email}} {{ruta.st_direccion}} {{ruta.st_comollegar}} {{ruta.st_red_social}} {{ruta.st_video_atractivo}}
                </p>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>